html, 
body {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	font-size: 14px;
	line-height: 18px;
	list-style-type: none;
	text-indent: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.repo_list li {
	height: 50px;
	display: block;
	background-color: #ffffff;
	cursor: pointer;
	border-bottom: 1px solid #eeeeee;
	margin: 0;
	padding: 0 15px;
	line-height: 50px;
}

ul.repo_list li.category_header {
	cursor: auto;
}

.org_info {
	height: 100px;
	border-bottom: 1px solid #eeeeee;
	background-color: #e9e9e9;
	color: #88bbd6;
}

#flash {
	height: 45px;
	border: 1px solid #ff0000;
	background-color: #ffaaaa;
	line-height: 45px;
	color: #444444;
	font-weight: bold;
	padding-left: 30px;
}

ul.repo_list li.selected,
ul.repo_list li:hover {
	background-color: #fafafa;
	position: relative;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(142,174,189,1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(142,174,189,1);
	box-shadow: inset 0px 0px 0px 1px rgba(142,174,189,1);
}

ul.repo_list li.category_header:hover {
	background-color: #ffffff;
	position: relative;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

ul.repo_list li.selected::after {
	position: absolute;
	font-family: 'FontAwesome';
	content: '\f054';
	right: 10px;
}

div.left_col {
	width: 100%;
	transition: width .8s;
	-webkit-transition: width .8s;
	border-right: 1px solid #eeeeee;
}

div.left_col.collapsed {
	width: 20%;
	float: left;
	border-right-style: none;
}

div.right_col {
	width: 0;
	overflow-y: scroll;
	transition: width .8s;
	-webkit-transition: width .8s;
}

div.right_col h2 {
	padding-left: 10px;
}

div.right_col h2 span {
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

div.right_col li {
	height: 35px;
	border: 1px solid #bbbbbb;
	border-top-style: none;
	padding: 10px 5px;
	background-color: #f7fef3;
}

div.right_col li:first-child {
	border-top: 1px solid #bbbbbb;
}

div.right_col li span {
	font-style: italic;
	color: #444444;
}

div.right_col.expanded {
	width: 80%;
	min-height: 500px;
	float: right;
}

/* Repo Row */
li .repo_name {
	width: 50%;
	float: left;
	font-size: 16px;
}

div.left_col.collapsed li .repo_name {
	width: 80%;
}

li .repo_fork_count,
li .repo_following,
li .repo_open_issues_count,
li .repo_language,
li .repo_updated_at {
	width: 10%;
	color: #aaaaaa;
	float: left;
}

li .repo_fork_count span,
li .repo_following span,
li .repo_open_issues_count span,
li .repo_language span,
li .repo_updated_at span {
	color: #666666;
	font-weight: bold;
	margin-left: 5px;
}

div.left_col.collapsed li .repo_fork_count,
div.left_col.collapsed li .repo_following,
div.left_col.collapsed li .repo_open_issues_count,
div.left_col.collapsed li .repo_language,
div.left_col.collapsed li .repo_updated_at {
	display: none;
}

div.left_col li.category_header span {
	cursor: pointer;
}

div.left_col li.category_header .highlight {
	color: #5555aa;
}

div.left_col li.category_header .repo_name span {
	color: #666666;
	font-weight: bold;
	margin-left: 5px;
}